.header {
  width: 100%;
  height: 70px;
  line-height: 70px;
}
.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.logo img {
  width: 1.5rem;
  height: 1.5rem;
}
.logo h1 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--primary-color);
}
.menu {
  display: flex;
  align-items: center;
  column-gap: 2.7rem;
  margin-bottom: 0;
}
.nav_item a {
  color: var(--primary-color);
  font-weight: 500;
  cursor: pointer;
}
.nav_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.2rem;
}
.nav_icons span i {
  font-size: 1.6rem;
  color: var(--primary-color);
  cursor: pointer;
}
.cart_icon,
.fav_icon {
  position: relative;
}

.badge {
  display: flex;
  position: absolute;
  top: 25%;
  right: -8%;
  content: "";
  background: var(--primary-color);
  color: #fff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: 600;
  z-index: 10;
  width: 15px;
  height: 15px;
}
.nav_icons .profile {
  position: relative;
  z-index: 9;
}
.nav_icons .profile .profile_action {
  position: absolute;
  top: 98%;
  left: -5rem;
  width: 150px;
  z-index: 10;
  display: flex;
  padding: 15px;
  align-items: center;
  flex-direction: column;
  background: var(--card-bg-01);
  line-height: 30px;
  display: none;
  cursor: pointer;
}
.nav_icons .profile .show_profile {
  position: absolute;
  top: 98%;
  left: -5rem;
  width: 150px;
  z-index: 10;
  display: flex;
  padding: 15px;
  align-items: center;
  flex-direction: column;
  background: var(--card-bg-01);
  line-height: 30px;
  cursor: pointer;
}
.profile_action .log a,
.show_profile .log a {
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
}
.nav_icons .profile img {
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 50%;
}
.nav_icons .profile span {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
}
.mobile_menu {
  font-size: 1.4rem;
  color: var(--primary-color);
  display: none;
}
.nav__active {
  font-weight: 700 !important;
}
.sticky_header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 3px 3px 8px -3px #ddd;
  background: #fff;
}
@media only screen and (max-width: 768px) {
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.53);
    z-index: 999;
    display: none;
  }
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 240px;
    height: 100%;
    background: #fff;
    z-index: 99999;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .active {
    display: block;
  }
  .mobile_menu {
    display: block;
  }
  .mobile_menu span i {
    font-size: 1.4rem !important;
  }
  .logo img {
    width: 1.2rem;
    height: 1.2rem;
  }
  .logo h1 {
    font-size: 1rem;
  }

  .cart_icon i {
    font-size: 1.5rem !important;
  }
  .nav_icons .profile img {
    width: 1.9rem;
    height: 1.9rem;
  }
  .header {
    width: 100%;
    height: 65px;
    line-height: 60px;
  }

  .nav_icons .profile span {
    font-size: 1rem;
    font-weight: 600;
  }
  .nav_icons .profile .show_profile {
    padding: 10px;
    top: 110%;
  }
  .profile_action .log a,
  .show_profile .log a {
    font-size: 0.9 rem;
    font-weight: 600;
  }
}
