.table tr td img {
  width: 50px !important;
  height: 50px !important;
  object-fit: cover;
}

td i {
  cursor: pointer;
}
td,
th {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-color);
}
@media only screen and (max-width: 786px) {
  .subtotal {
    margin-top: 20px;
  }
}
